extends layout

block content
  h1 Bienvenidos
  p Este es el sistema de información de datos del proyecto de Instrumentación
  ul(style='list-style: none')
    li
      a(href='/upload' style='font-size:30px; color:#9E9E9E') Subir archivos
    li
      a(href='/show' style='font-size:30px; color:#9E9E9E') Mostrar datos