doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title programa AES
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    #header SOLMAFORO:&nbsp;
      a(href='http://www.cienciayjuego.com/jhome/index.php/aes') Proyecto Ambiente, Energía y Salud
    #section
      #fullpage
        block content
    #footer < > with &#9829 by&nbsp;
      a(href='https://github.com/maasencioh/solmaforo') maasencioh